<div id="company-info">
    <page-header title="个人信息"> </page-header>
    <nz-card [nzBordered]="true" nzTitle="个人详情">
        <nz-row>
            <nz-col nzSpan="16">
                <form nz-form [formGroup]="userProfileForm">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="7" nzRequired nzFor="accountName">{{'app.user.account.name' | translate}}</nz-form-label>
                      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
                        <input nz-input formControlName="accountName" />
                        <ng-template #userErrorTpl let-control>
                          <ng-container *ngIf="control.hasError('required')">
                            {{'validation.user.name.required' | translate}}
                          </ng-container>
                          <ng-container *ngIf="control.hasError('duplicated')">
                            {{'validation.user.name.duplicate' | translate}}
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                
                    <nz-form-item>
                      <nz-form-label [nzSpan]="7"  nzFor="password" nzRequired>{{'app.user.account.password' | translate}}</nz-form-label>
                      <nz-form-control [nzSpan]="12" nzErrorTip="Please input your password!">
                        <a role="button" *ngIf="!showPassword" (click)="generatePassword()">{{ 'app.user.account.reset.password' | translate }}</a>
                        <nz-input-group [nzAddOnAfter]="suffixTemplateInfo" *ngIf="showPassword">
                          <input nz-input id="password" formControlName="password" />
                        </nz-input-group>
                        <ng-template #suffixTemplateInfo>
                          <i nz-icon nzType="copy" nzTheme="fill" (click)="copyPassword()"></i>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                
                    <nz-form-item>
                      <nz-form-label [nzSpan]="7"  nzFor="email">{{'app.user.email' | translate}}</nz-form-label>
                      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
                        <input nz-input formControlName="email" type="email" />
                        <ng-template #emailErrorTpl let-control>
                          <ng-container *ngIf="control.hasError('email')">
                            {{'validation.user.email.format' | translate}}
                          </ng-container>
                          <ng-container *ngIf="control.hasError('duplicated')">
                            {{'validation.user.email.required' | translate}}
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label [nzSpan]="7"  nzFor="phoneNumber">{{'app.user.account.phone' | translate}}</nz-form-label>
                      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="phoneNumberErrorTpl">
                        <input nz-input formControlName="phoneNumber" type="phoneNumber" maxLength=11/>
                        <ng-template #phoneNumberErrorTpl let-control>
                          <ng-container *ngIf="control.hasError('pattern')">
                            {{'validation.user.phone.format' | translate}}
                          </ng-container>
                          <ng-container *ngIf="control.hasError('duplicated')">
                            {{'validation.user.phone.duplicate' | translate}}
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                
                    <nz-form-item>
                      <nz-form-label [nzSpan]="7"  nzRequired nzFor="name">{{'app.user.user.name' | translate}}</nz-form-label>
                      <nz-form-control [nzSpan]="12" nzErrorTip="{{'validation.user.name.required' | translate}}">
                        <input nz-input formControlName="name" id="name" />
                      </nz-form-control>
                    </nz-form-item>
                
                    <nz-form-item>
                      <nz-form-label [nzSpan]="7"  nzFor="mobile">{{'app.user.user.phone' | translate}}</nz-form-label>
                      <nz-form-control [nzSpan]="12" nzErrorTip="{{'validation.user.phone.format' | translate}}">
                        <input nz-input formControlName="mobile" id="mobile" maxLength=11/>
                      </nz-form-control>
                    </nz-form-item>
                
                    <nz-form-item>
                      <nz-form-label [nzSpan]="7"  nzFor="officePhoneNumber">{{'app.user.office.phone' | translate}}</nz-form-label>
                      <nz-form-control [nzSpan]="12" nzErrorTip="{{'validation.user.phone.format' | translate}}">
                        <input nz-input formControlName="officePhoneNumber" id="officePhoneNumber"  type="phoneNumber"/>
                      </nz-form-control>
                    </nz-form-item>
                
                    <nz-form-item>
                      <nz-form-label [nzSpan]="7"  nzFor="address">{{'app.user.address' | translate}}</nz-form-label>
                      <nz-form-control [nzSpan]="12">
                        <input nz-input formControlName="address" id="address" />
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzOffset]="7" [nzSpan]="12">
                          <button nz-button nzType="primary" (click)="save()"
                            [disabled]="userProfileForm.invalid">更新个人信息</button>
                        </nz-form-control>
                      </nz-form-item>
                  </form>
            </nz-col>
        </nz-row>
        
    </nz-card>
    
</div>
  