<div class="main-wrapper">
  <div class="layout-passport">
      <div class="layou-logo">
      </div>
      <h2 class="account-slogon-main">电子封锁管理系统</h2>
      <div class="accout-slogon">
          <p>沈阳耀福施封锁有限公司</p>
      </div>
      <div class="account-login">
          <router-outlet>
          </router-outlet>
      </div>

      <global-footer>
        Copyright
        <i class="anticon anticon-copyright"></i> 2020
        <a href="http://www.sfseal.net/" target="_blank">沈阳耀福施封锁有限公司</a>出品
      </global-footer>

  </div>
</div>