<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
      <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'validation.username.required' | translate">
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input nz-input formControlName="userName" placeholder=" {{'login.placeholder.username' | translate}}"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'validation.password.required' | translate">
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input nz-input type="password" formControlName="password" placeholder="{{'login.placeholder.password' | translate}}"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12">
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="http.loading" nzBlock>
      {{ 'app.login.login' | translate }}
    </button>
  </nz-form-item>
</form>
